* {
    padding: 0%;
    margin: 0;
}

.navbar-home {
    display: flex;
    justify-content: space-between;
    background-color: #2CB978;
    position: absolute;
    width: 100%;
    height: 100px;
}

.logo {
    margin-top: 40px;
    width: 100px;
    height: 20px;
}

a {
    margin-left: 40px;
    color: white;
}
